# Python virtual environments
.venv/
venv/
env/

# Ignore specific venv folders to be safe
.venv/lib/
.venv/Scripts/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/
