:root {
  --title-hero-font-family: "Inter", Helvetica;
  --title-hero-font-weight: 700;
  --title-hero-font-size: 72px;
  --title-hero-letter-spacing: -2.16px;
  --title-hero-line-height: 120.00000476837158%;
  --title-hero-font-style: normal;
  --subtitle-font-family: "Inter", Helvetica;
  --subtitle-font-weight: 400;
  --subtitle-font-size: 32px;
  --subtitle-letter-spacing: 0px;
  --subtitle-line-height: 120.00000476837158%;
  --subtitle-font-style: normal;
  --heading-font-family: "Inter", Helvetica;
  --heading-font-weight: 600;
  --heading-font-size: 24px;
  --heading-letter-spacing: -0.48px;
  --heading-line-height: 120.00000476837158%;
  --heading-font-style: normal;
  --subheading-font-family: "Inter", Helvetica;
  --subheading-font-weight: 400;
  --subheading-font-size: 20px;
  --subheading-letter-spacing: 0px;
  --subheading-line-height: 120.00000476837158%;
  --subheading-font-style: normal;
  --body-strong-font-family: "Inter", Helvetica;
  --body-strong-font-weight: 600;
  --body-strong-font-size: 16px;
  --body-strong-letter-spacing: 0px;
  --body-strong-line-height: 139.9999976158142%;
  --body-strong-font-style: normal;
  --body-base-font-family: "Inter", Helvetica;
  --body-base-font-weight: 400;
  --body-base-font-size: 16px;
  --body-base-letter-spacing: 0px;
  --body-base-line-height: 139.9999976158142%;
  --body-base-font-style: normal;
  --menu-l-poppins-m-font-family: "Poppins", Helvetica;
  --menu-l-poppins-m-font-weight: 500;
  --menu-l-poppins-m-font-size: 16px;
  --menu-l-poppins-m-letter-spacing: 0px;
  --menu-l-poppins-m-line-height: 22px;
  --menu-l-poppins-m-font-style: normal;
  --body-small-font-family: "Inter", Helvetica;
  --body-small-font-weight: 400;
  --body-small-font-size: 14px;
  --body-small-letter-spacing: 0px;
  --body-small-line-height: 139.9999976158142%;
  --body-small-font-style: normal;
  --single-line-body-base-font-family: "Inter", Helvetica;
  --single-line-body-base-font-weight: 400;
  --single-line-body-base-font-size: 16px;
  --single-line-body-base-letter-spacing: 0px;
  --single-line-body-base-line-height: 100%;
  --single-line-body-base-font-style: normal;
  --color-background-default-default: var(--color-primitives-white-1000);
  --color-text-default-default: var(--color-primitives-gray-900);
  --color-text-default-secondary: var(--color-primitives-gray-500);
  --color-background-default-secondary: var(--color-primitives-gray-100);
  --color-border-default-default: var(--color-primitives-gray-300);
  --color-text-brand-on-brand-secondary: var(--color-primitives-brand-900);
  --color-background-brand-tertiary: var(--color-primitives-brand-100);
  --color-primitives-white-1000: rgba(255, 255, 255, 1);
  --color-primitives-gray-900: rgba(30, 30, 30, 1);
  --color-primitives-gray-500: rgba(117, 117, 117, 1);
  --color-primitives-slate-200: rgba(227, 227, 227, 1);
  --color-primitives-white-500: rgba(255, 255, 255, 0.7);
  --color-primitives-gray-100: rgba(245, 245, 245, 1);
  --color-primitives-gray-800: rgba(44, 44, 44, 1);
  --color-primitives-gray-300: rgba(217, 217, 217, 1);
  --color-primitives-gray-600: rgba(68, 68, 68, 1);
  --color-primitives-brand-900: rgba(30, 30, 30, 1);
  --color-primitives-brand-100: rgba(245, 245, 245, 1);
  --color-primitives-brand-600: rgba(68, 68, 68, 1);
  --size-space-200: 8px;
  --size-space-600: 24px;
  --size-space-1600: 64px;
  --size-space-4000: 160px;
  --size-space-400: 16px;
  --size-space-1200: 48px;
  --size-padding-lg: 16px;
  --size-radius-200: 8px;
  --size-space-300: 12px;
  --responsive-device-width: 1200px;
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-color-mode="SDS-light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-color-mode="SDS-light"] {
  --color-background-default-default: var(--color-primitives-white-1000);
  --color-text-default-default: var(--color-primitives-gray-900);
  --color-text-default-secondary: var(--color-primitives-gray-500);
  --color-background-default-secondary: var(--color-primitives-gray-100);
  --color-border-default-default: var(--color-primitives-gray-300);
  --color-text-brand-on-brand-secondary: var(--color-primitives-brand-900);
  --color-background-brand-tertiary: var(--color-primitives-brand-100);
}

[data-color-mode="SDS-dark"] {
  --color-background-default-default: var(--color-primitives-gray-900);
  --color-text-default-default: var(--color-primitives-white-1000);
  --color-text-default-secondary: var(--color-primitives-white-500);
  --color-background-default-secondary: var(--color-primitives-gray-800);
  --color-border-default-default: var(--color-primitives-gray-600);
  --color-text-brand-on-brand-secondary: var(--color-primitives-brand-100);
  --color-background-brand-tertiary: var(--color-primitives-brand-600);
}

[data-responsive-mode="desktop"] {
  --responsive-device-width: 1200px;
}

[data-responsive-mode="mobile"] {
  --responsive-device-width: 375px;
}

[data-responsive-mode="tablet"] {
  --responsive-device-width: 768px;
}
